In [60]:
from train import *
from notes.documents import Document, labels as t2i, id2tag as i2t
import glob
import pandas as pd
import torch
from transformers import *

In [19]:
cons = sorted(glob.glob('../data/final/con/*.con'))
txts = sorted(glob.glob('../data/final/txt/*.txt'))
docs = []
for c,t in zip(cons, txts):
#     print(c,t)
    docs.append(Document(t,c))

In [20]:
model = ClinerModel(True)

In [34]:
print('File: ', docs[0]._filename)
# for
X_l, y_l  = [], []
for doc in docs:
    for sents, labels in zip(doc.getTokenizedSentences(), doc.getTokenLabels()):
        for sent, label in zip(sents, labels):
#             print(sent, label)
            X_l.append(sent)
            y_l.append(label)

File:  ../data/final/txt/018636330_DH.txt

In [43]:
X, y = pd.Series(X_l, dtype="string"), pd.Series(y_l, dtype="string").map(t2i)

In [57]:
y.value_counts()

0    114805
4     10254
1      7072
3      4841
2      4605
6      4100
5      3886
dtype: int64

In [61]:
tokenizer = AutoTokenizer.from_pretrained("allenai/scibert_scivocab_cased")

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=385.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=222296.0, style=ProgressStyle(descripti…

In [66]:
# print(open(docs[0]._filename,'r').read().strip())
# toks = tokenizer.tokenize(open(docs[0]._filename,'r').read().strip())

In [67]:
model = AutoModel.from_pretrained("allenai/scibert_scivocab_cased")

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=442301670.0, style=ProgressStyle(descri…

In [106]:
dfs = []
for inp in glob.glob('../data/training/*.ann'):
    dfs.append(pd.read_table(inp,sep='\t',error_bad_lines=False, header=None,
                             engine='python', skipinitialspace=True,
                             quotechar='\r'
                            ))

Skipping line 205: Expected 3 fields in line 205, saw 4
Skipping line 490: Expected 3 fields in line 490, saw 4
Skipping line 415: Expected 3 fields in line 415, saw 4
Skipping line 527: Expected 3 fields in line 527, saw 4
Skipping line 95: Expected 3 fields in line 95, saw 4

In [108]:
X_1 = pd.concat(dfs)

In [128]:
X_1.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
           dtype='int64', length=87296)

In [113]:
Xy = pd.DataFrame(zip(X, y))

In [126]:
Xy[Xy.loc[:,1] == 6]

                  0  1
51         anterior  6
52         cervical  6
53       diskectomy  6
54               at  6
55          __num__  6
...             ... ..
149416   descending  6
149417       artery  6
149503  transdermal  6
149504     nicotine  6
149505        patch  6

[4100 rows x 2 columns]